:root {
  --white: #fefefe;
  --gray: #ccc;
  --black: #444;

  --primary: #0099ff;
  --secondary: #cfedff;
  --third: #f0f8ff;
  --border: #666;
  --disabled: #eee;
  --alert: #ffcccc;
  --error: #ff4500;
  --shadow: rgb(0 0 0 / 15%);

  --base-bg: var(--white);
  --overflow-bg: var(--third);
  --base-text: var(--black);
}

.bold {
  font-weight: bold;
}

.material-design-icon {
  display: flex;
}
